@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@500&display=swap');

.login-button {
    background-color: #ffbb00; 
    border-color: #ffbb00; 
    box-shadow: 0px 5px 16px 0px rgba(255, 187, 0, 0.25);
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    height: 36px;
}

.crypto-currency-button {
    background-color: #ffbb00; 
    border-color: #ffbb00; 
    box-shadow: 0px 5px 16px 0px rgba(255, 187, 0, 0.25);
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    height: 36px;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-btn-default:not(:disabled):not(.ant-btn-disabled).crypto-currency-button:hover{
    background-color: #ffbb00; 
    border-color: #ffbb00; 
    color: black;
    box-shadow: 0px 6px 13px 0px rgba(255, 187, 0, 0.4);
}


:where(.css-dev-only-do-not-override-fpg3f5).ant-btn-default:not(:disabled):not(.ant-btn-disabled).login-button:hover{
    background-color: #ffbb00; 
    border-color: #ffbb00; 
    color: black;
    box-shadow: 0px 6px 13px 0px rgba(255, 187, 0, 0.4);
}
:where(.css-dev-only-do-not-override-byeoj0).ant-modal .ant-modal-content{
    border-radius: 20.539px;
background: #3A126A;
}
.input-login{
    stroke-width: 0.934px;
stroke: rgba(255, 255, 255, 0.38);
}
.input-heading{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 37.343px;
font-style: normal;
font-weight: 700;
line-height: 138%; 
}
.blur-img{
    background-color: #F33DC8;
opacity: 0.44;
filter: blur(70.01884460449219px);
width: 200.009px;
height: 200.009px;
border-radius: 100%;;
flex-shrink: 0;
position: absolute;
right: 0;
top: 30px;
}


.transform-class {
    transform: translate(-17px, -216px);
    width: 280px !important;
    transition-duration: 0.3s; /* Change this to the desired duration, e.g., 3 seconds */
    transition-timing-function: ease-in-out;
}



.transform-class-out{
    transition-duration: 0.5s; /* Change this to the desired duration, e.g., 3 seconds */
    transition-timing-function: ease-in-out;
}