@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@500&display=swap');


.card-css{
    border-radius: 10px;
    border-color: #060041;
}

.custom-card {
    border: 1px solid #000; /* Border color */
    border-radius: 0 10px 10px 0; /* Border radius values for right top bottom left */
    padding: 10px; /* Add padding to create space between the content and the border */
  }

.custom-font-family{
    font-family: "Poppins";
    font-weight: 600;
}

.custom-font-family-2{
    font-family: "Poppins";
    /* font-weight: 600; */
}

.line-height{
    line-height: 105px;
}

.custom-font-family-2{
    font-family: "Poppins";
}

.text-size-one-day-match{
    font-size: 18px;
}

.text-size-match-date-time{
    font-size: 18px;
}

.login-button {
    background-color: #ffbb00; 
    border-color: #ffbb00; 
    box-shadow: 0px 5px 16px 0px rgba(255, 187, 0, 0.25);
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600 ;
    height: 36px;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-btn-default:not(:disabled):not(.ant-btn-disabled).login-button:hover{
    background-color: #ffbb00; 
    border-color: #ffbb00; 
    color: black;
    box-shadow: 0px 6px 13px 0px rgba(255, 187, 0, 0.4);
}


.clip-path-polygon {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }