@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@500&display=swap');

.custom-font-family{
    font-family: "Poppins";
    font-weight: 600;
}

.custom-font-family-2{
    font-family: "Poppins";
    /* font-weight: 600; */
}