@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@500&display=swap');
body{
    font-family: "Poppins";
}

.container-2{
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}


.container-xs{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.container-lg{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-3{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}